:root {
	--twitter-clr: #50b7f5;
	--twitter-bg: #e6ecf0;
	/* TRANSITIONS */
	--sht-trans: all 200ms ease-in-out;
	--med-trans: all 0.5s ease-in-out;
}

.App {
	display: flex;
	height: 100vhh;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}
